# Prerequisites
*.d
qparsing/core/tests/csv/output/*
*/.DS_Store
# Compiled Object files
*.slo
*.lo
*.o
*.obj
qparsing/core/tests/test_data/chanzeaux/
qparsing/core/tests/test_data/
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build
.DS_Store

# Test execution
tests/test_data/csv/output/*.csv


# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode

!.vscode/c_cpp_properties.json

docker/.env

qparsing/core/usr/
qparsing/core/parser.cpp

parsing.egg-info
.eggs
dist
qparsing/lib.log

__pycache__

.idea/
.vscode/launch.json
foo.csv
qparsing/core/inverter.csv
qparsing/core/inverter_mppt.csv
qparsing/core/test_xml.csv
qparsing/core/string.csv
.devcontainer/
inverter.csv
qparsing/core/test2.csv
qparsing.egg-info
vihiers