# Prerequisites
*.d
*/.DS_Store
# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
docs/html
# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build
.DS_Store

# Test execution
tests/test_data/csv/output/*.csv


# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode

!.vscode/c_cpp_properties.json
.cache
docker/.env

parsing/core/usr/
parsing/core/parser.cpp

parsing.egg-info
.eggs
dist
parsing/lib.log

__pycache__
interface/py3/parser.cpp
interface/py3/qparsing.egg-info/
interface/py3/dist/
interface/py3/build/
.idea/
.vscode/launch.json
foo.csv
parsing/core/inverter.csv
parsing/core/inverter_mppt.csv
parsing/core/test_xml.csv
parsing/core/string.csv
.devcontainer/
inverter.csv
parsing/core/test2.csv
parsing.egg-info
vihiers