# Prerequisites
*.d
./src/core/tests/csv/output/*
# Compiled Object files
*.slo
*.lo
*.o
*.obj
src/core/tests/test_data/chanzeaux/
src/core/tests/test_data/
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build
.DS_Store

# Test execution
tests/test_data/csv/output/*.csv


# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode

!.vscode/c_cpp_properties.json

docker/.env

src/core/usr/
src/core/parser.cpp

parsing.egg-info
.eggs
dist
src/lib.log

src/utils/__pycache__

.idea/
.vscode/launch.json
foo.csv
src/core/inverter.csv
src/core/inverter_mppt.csv
src/core/test_xml.csv
